#allow for tp.node
allow hal_power_default tpnode_sysfs:dir search;
allow hal_power_default tpnode_sysfs:file { open write };
allow hal_power_default tpnode_data_file:lnk_file read;
allow hal_power_default tpnode_data_file:dir search;
